In [1]:
import pandas as pd

In [2]:
stats =pd.read_csv("player_mvp_stats.csv", index_col=0)
stats

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,Pts Max,Share,Team,W,L,W/L%,GB,PS/G,PA/G,SRS
0,A.C. Green,PF,27,LAL,82,21,26.4,3.1,6.6,0.476,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
1,Byron Scott,SG,29,LAL,82,82,32.1,6.1,12.8,0.477,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
2,Elden Campbell,PF,22,LAL,52,0,7.3,1.1,2.4,0.455,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
3,Irving Thomas,PF,25,LAL,26,0,4.2,0.7,1.9,0.340,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
4,James Worthy,SF,29,LAL,78,74,38.6,9.2,18.7,0.492,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15231,Spencer Hawes,PF,28,MIL,54,1,14.8,2.5,5.1,0.484,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
15232,Steve Novak,PF,33,MIL,8,0,2.8,0.3,0.9,0.286,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
15233,Terrence Jones,PF,25,MIL,54,12,23.5,4.3,9.1,0.470,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
15234,Thon Maker,C,19,MIL,57,34,9.9,1.5,3.2,0.459,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
15235,Tony Snell,SG,25,MIL,80,80,29.2,3.1,6.8,0.455,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45

In [3]:
stats

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,Pts Max,Share,Team,W,L,W/L%,GB,PS/G,PA/G,SRS
0,A.C. Green,PF,27,LAL,82,21,26.4,3.1,6.6,0.476,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
1,Byron Scott,SG,29,LAL,82,82,32.1,6.1,12.8,0.477,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
2,Elden Campbell,PF,22,LAL,52,0,7.3,1.1,2.4,0.455,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
3,Irving Thomas,PF,25,LAL,26,0,4.2,0.7,1.9,0.340,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
4,James Worthy,SF,29,LAL,78,74,38.6,9.2,18.7,0.492,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15231,Spencer Hawes,PF,28,MIL,54,1,14.8,2.5,5.1,0.484,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
15232,Steve Novak,PF,33,MIL,8,0,2.8,0.3,0.9,0.286,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
15233,Terrence Jones,PF,25,MIL,54,12,23.5,4.3,9.1,0.470,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
15234,Thon Maker,C,19,MIL,57,34,9.9,1.5,3.2,0.459,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
15235,Tony Snell,SG,25,MIL,80,80,29.2,3.1,6.8,0.455,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45

In [4]:
pd.isnull(stats).sum()

Player        0
Pos           0
Age           0
Tm            0
G             0
GS            0
MP            0
FG            0
FGA           0
FG%          61
3P            0
3PA           0
3P%        2102
2P            0
2PA           0
2P%         105
eFG%         61
FT            0
FTA           0
FT%         545
ORB           0
DRB           0
TRB           0
AST           0
STL           0
BLK           0
TOV           0
PF            0
PTS           0
Year          0
Pts Won       0
Pts Max       0
Share         0
Team          0
W             0
L             0
W/L%          0
GB            0
PS/G          0
PA/G          0
SRS           0
dtype: int64

In [5]:
stats[pd.isnull(stats["FT%"])][["Player", "FTA"]]

                Player  FTA
77          John Coker  0.0
92        Jason Sasser  0.0
103    Adrian Caldwell  0.0
119       Bruno Šundov  0.0
158     Jamal Robinson  0.0
...                ...  ...
15115     Trevor Keels  0.0
15123      Luke Zeller  0.0
15176      Myron Brown  0.0
15198      Malcolm Lee  0.0
15232      Steve Novak  0.0

[545 rows x 2 columns]

In [6]:
stats = stats.fillna(0)
stats.to_csv("stats_for_training")

In [7]:
stats.columns

Index(['Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P',
       '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'Year',
       'Pts Won', 'Pts Max', 'Share', 'Team', 'W', 'L', 'W/L%', 'GB', 'PS/G',
       'PA/G', 'SRS'],
      dtype='object')

In [8]:
predictors = ['Age', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P',
       '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'Year', 'W', 'L', 'W/L%', 'GB', 'PS/G',
       'PA/G', 'SRS']

In [9]:
train = stats[~(stats["Year"] == 2023)]

In [10]:
test = stats[stats["Year"] == 2023]

In [11]:
from sklearn.linear_model import Ridge

reg = Ridge(alpha=.1)

In [12]:
reg.fit(train[predictors], train["Share"])

Ridge(alpha=0.1)

In [13]:
predictions = reg.predict(test[predictors])

In [14]:
predictions = pd.DataFrame(predictions, columns=["predictions"], index = test.index)

In [15]:
predictions

       predictions
211       0.002567
212       0.032036
213       0.041658
214       0.225129
215      -0.001947
...            ...
15111    -0.014598
15112     0.004126
15113    -0.015197
15114     0.018390
15115     0.011344

[539 rows x 1 columns]

In [16]:
combination = pd.concat([test[["Player", "Share"]], predictions], axis=1)

In [17]:
combination

                      Player  Share  predictions
211               A.J. Green  0.000     0.002567
212             Bobby Portis  0.000     0.032036
213              Brook Lopez  0.000     0.041658
214    Giannis Antetokounmpo  0.606     0.225129
215             Goran Dragić  0.000    -0.001947
...                      ...    ...          ...
15111      Mitchell Robinson  0.000    -0.014598
15112             Obi Toppin  0.000     0.004126
15113         Quentin Grimes  0.000    -0.015197
15114             RJ Barrett  0.000     0.018390
15115           Trevor Keels  0.000     0.011344

[539 rows x 3 columns]

In [18]:
combination.sort_values("Share", ascending=False).head(10)

                        Player  Share  predictions
14849              Joel Embiid  0.915     0.201830
736               Nikola Jokić  0.674     0.173424
214      Giannis Antetokounmpo  0.606     0.225129
2898              Jayson Tatum  0.280     0.137571
1322   Shai Gilgeous-Alexander  0.046     0.148549
13682         Donovan Mitchell  0.030     0.086235
4274          Domantas Sabonis  0.027     0.092880
306                Luka Dončić  0.010     0.195434
6686             Stephen Curry  0.005     0.106766
10869             Jimmy Butler  0.003     0.109474

In [19]:
from sklearn.metrics import mean_squared_error

mean_squared_error(combination["Share"], combination["predictions"])

0.0026623636559479267

In [20]:
combination["Share"].value_counts()

0.000    526
0.001      2
0.606      1
0.010      1
0.674      1
0.046      1
0.280      1
0.002      1
0.027      1
0.005      1
0.003      1
0.030      1
0.915      1
Name: Share, dtype: int64

In [21]:
combination = combination.sort_values("Share", ascending=False)
combination["Rk"] = list(range(1,combination.shape[0]+1))

In [22]:
combination.head(10)

                        Player  Share  predictions  Rk
14849              Joel Embiid  0.915     0.201830   1
736               Nikola Jokić  0.674     0.173424   2
214      Giannis Antetokounmpo  0.606     0.225129   3
2898              Jayson Tatum  0.280     0.137571   4
1322   Shai Gilgeous-Alexander  0.046     0.148549   5
13682         Donovan Mitchell  0.030     0.086235   6
4274          Domantas Sabonis  0.027     0.092880   7
306                Luka Dončić  0.010     0.195434   8
6686             Stephen Curry  0.005     0.106766   9
10869             Jimmy Butler  0.003     0.109474  10

In [23]:
combination = combination.sort_values("predictions", ascending=False)
combination["Predicted_Rk"] = list(range(1,combination.shape[0]+1))

In [24]:
combination.head(10)

                        Player  Share  predictions   Rk  Predicted_Rk
214      Giannis Antetokounmpo  0.606     0.225129    3             1
14849              Joel Embiid  0.915     0.201830    1             2
306                Luka Dončić  0.010     0.195434    8             3
736               Nikola Jokić  0.674     0.173424    2             4
1322   Shai Gilgeous-Alexander  0.046     0.148549    5             5
11528             Kevin Durant  0.000     0.141085   50             6
8563             Anthony Davis  0.000     0.140286  139             7
2898              Jayson Tatum  0.280     0.137571    4             8
8083            Damian Lillard  0.000     0.136843   90             9
8570              LeBron James  0.000     0.133829  132            10

In [25]:
combination.sort_values("Share", ascending=False).head(10)

                        Player  Share  predictions  Rk  Predicted_Rk
14849              Joel Embiid  0.915     0.201830   1             2
736               Nikola Jokić  0.674     0.173424   2             4
214      Giannis Antetokounmpo  0.606     0.225129   3             1
2898              Jayson Tatum  0.280     0.137571   4             8
1322   Shai Gilgeous-Alexander  0.046     0.148549   5             5
13682         Donovan Mitchell  0.030     0.086235   6            23
4274          Domantas Sabonis  0.027     0.092880   7            18
306                Luka Dončić  0.010     0.195434   8             3
6686             Stephen Curry  0.005     0.106766   9            14
10869             Jimmy Butler  0.003     0.109474  10            13

In [26]:
def find_ap(combination):
    actual = combination.sort_values("Share", ascending=False).head(5)
    predicted = combination.sort_values("predictions", ascending=False)
    ps = []
    found = 0
    seen =1
    for index, row in predicted.iterrows():
        if row["Player"] in actual["Player"].values:
            found += 1
            ps.append(found/seen)
        seen += 1
    return sum(ps) / len(ps)

In [27]:
find_ap(combination)

0.835

In [28]:
years = list(range(1991,2023))

In [29]:
#Backtesting
aps = []
all_predictions = []
for year in years[5:]:
    train = stats[stats["Year"] < year]
    test = stats[stats["Year"] == year]
    reg.fit(train[predictors], train["Share"])
    predictions = reg.predict(test[predictors])
    predictions = pd.DataFrame(predictions, columns=["predictions"], index = test.index)
    combination = pd.concat([test[["Player", "Share"]], predictions], axis=1)
    all_predictions.append(combination)
    aps.append(find_ap(combination))

In [30]:
years[1]

1992

In [31]:
sum(aps) / len(aps)

0.7152712173135063

In [32]:
def add_ranks(combination):
    combination = combination.sort_values("Share", ascending=False)
    combination["Rk"] = list(range(1,combination.shape[0]+1))
    combination = combination.sort_values("predictions", ascending=False)
    combination["Predicted_Rk"] = list(range(1,combination.shape[0]+1))
    combination["Diff"] = combination["Rk"] - combination["Predicted_Rk"]
    return combination

In [33]:
ranking = add_ranks(all_predictions[1])
ranking[ranking["Rk"] < 6].sort_values("Diff", ascending=False)

               Player  Share  predictions  Rk  Predicted_Rk  Diff
1817      Karl Malone  0.857     0.192318   1             2    -1
11360  Michael Jordan  0.832     0.167629   2             3    -1
1043       Grant Hill  0.327     0.128646   3             6    -3
5151     Tim Hardaway  0.207     0.059984   4            20   -16
9009        Glen Rice  0.117     0.033110   5            53   -48

In [34]:
def backtest(stats, model, year, predictors):
    aps = []
    all_predictions = []
    for year in years[5:]:
        train = stats[stats["Year"] < year]
        test = stats[stats["Year"] == year]
        model.fit(train[predictors], train["Share"])
        predictions = reg.predict(test[predictors])
        predictions = pd.DataFrame(predictions, columns=["predictions"], index = test.index)
        combination = pd.concat([test[["Player", "Share"]], predictions], axis=1)
        combination = add_ranks(combination)
        all_predictions.append(combination)
        aps.append(find_ap(combination))
    return sum(aps) / len(aps), aps, pd.concat(all_predictions)

In [35]:
mean_ap, aps, all_predictions = backtest(stats, reg, years[5:], predictors)

In [36]:
all_predictions

                 Player  Share  predictions   Rk  Predicted_Rk  Diff
7948   Shaquille O'Neal  0.056     0.213818    9             1     8
10628    David Robinson  0.508     0.211326    2             2     0
5451    Hakeem Olajuwon  0.211     0.204628    4             3     1
1807        Karl Malone  0.075     0.181606    7             4     3
11346    Michael Jordan  0.986     0.174346    1             5    -4
...                 ...    ...          ...  ...           ...   ...
12947    Trayvon Palmer  0.000    -0.057006  605           601     4
12222        Wes Iwundu  0.000    -0.066277  288           602  -314
1307     Zavier Simpson  0.000    -0.066415  318           603  -285
12930    Derrick Walton  0.000    -0.066490  215           604  -389
1296     Melvin Frazier  0.000    -0.125258  326           605  -279

[12728 rows x 6 columns]

In [37]:
mean_ap

0.7152712173135063

In [38]:
all_predictions[all_predictions["Rk"] <= 5].sort_values("Diff").head(10)

                 Player  Share  predictions  Rk  Predicted_Rk  Diff
1441         Jason Kidd  0.712     0.028210   2            52   -50
9009          Glen Rice  0.117     0.033110   5            53   -48
5674         Steve Nash  0.839     0.034100   1            45   -44
9277    Peja Stojaković  0.228     0.036270   4            38   -34
13800       Joakim Noah  0.258     0.046968   4            37   -33
5692         Steve Nash  0.739     0.054129   1            34   -33
4010   Chauncey Billups  0.344     0.052696   5            35   -30
1606         Chris Paul  0.138     0.072293   5            33   -28
5707         Steve Nash  0.785     0.074421   2            21   -19
5151       Tim Hardaway  0.207     0.059984   4            20   -16

In [39]:
pd.concat([pd.Series(reg.coef_), pd.Series(predictors)], axis= 1).sort_values(0, ascending=False)

           0     1
13  0.087852  eFG%
18  0.033860   DRB
29  0.023198  W/L%
17  0.020993   ORB
10  0.016456    2P
21  0.012070   STL
22  0.010901   BLK
15  0.010414   FTA
20  0.007113   AST
12  0.007054   2P%
25  0.006918   PTS
5   0.004827   FGA
4   0.003353    FG
7   0.001701    3P
0   0.000294   Age
30  0.000279    GB
27  0.000136     W
1   0.000093     G
2   0.000004    GS
26 -0.000180  Year
32 -0.000275  PA/G
28 -0.000316     L
31 -0.000494  PS/G
33 -0.000569   SRS
24 -0.002625    PF
3  -0.004067    MP
16 -0.004784   FT%
14 -0.006344    FT
23 -0.009142   TOV
8  -0.009681   3PA
9  -0.009695   3P%
11 -0.016464   2PA
19 -0.026578   TRB
6  -0.155936   FG%

In [40]:
stat_ratios = stats[["PTS", "AST", "STL", "BLK", "3P", "Year"]].groupby("Year").apply(lambda x: x/x.mean())

In [41]:
stats.head(10)

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,Pts Max,Share,Team,W,L,W/L%,GB,PS/G,PA/G,SRS
0,A.C. Green,PF,27,LAL,82,21,26.4,3.1,6.6,0.476,...,0.0,0.000,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
1,Byron Scott,SG,29,LAL,82,82,32.1,6.1,12.8,0.477,...,0.0,0.000,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
2,Elden Campbell,PF,22,LAL,52,0,7.3,1.1,2.4,0.455,...,0.0,0.000,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
3,Irving Thomas,PF,25,LAL,26,0,4.2,0.7,1.9,0.340,...,0.0,0.000,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
4,James Worthy,SF,29,LAL,78,74,38.6,9.2,18.7,0.492,...,0.0,0.000,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
5,Larry Drew,PG,32,LAL,48,2,10.3,1.1,2.6,0.432,...,0.0,0.000,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
6,Magic Johnson,PG,31,LAL,79,79,37.1,5.9,12.4,0.477,...,960.0,0.518,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
7,Mychal Thompson,C,36,LAL,72,4,15.0,1.6,3.2,0.496,...,0.0,0.000,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
8,Sam Perkins,PF,29,LAL,73,66,34.3,5.0,10.2,0.495,...,0.0,0.000,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
9,Terry Teagle,SG,30,LAL,82,0,18.3,4.1,9.2,0.443,...,0.0,0.000,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73

In [42]:
stats[["PTS_R","AST_R", "STL_R", "BLK_R", "3P_R"]] = stat_ratios[["PTS","AST", "STL", "BLK", "3P"]]

In [43]:
predictors += ["PTS_R","AST_R", "STL_R", "BLK_R", "3P_R"]

In [44]:
mean_ap, aps, all_predictions = backtest(stats, reg, years[5:], predictors)

In [45]:
mean_ap

0.726619022474594

In [46]:
stats["NPos"] = stats["Pos"].astype("category").cat.codes

In [47]:
stats["Pos"].unique()

array(['PF', 'SG', 'SF', 'PG', 'C', 'PG-SG', 'PF-SF', 'SG-PG', 'PF-C',
       'SG-SF', 'SF-PF', 'SF-SG', 'C-PF', 'SG-PF', 'PG-SF', 'SG-PG-SF',
       'SF-C'], dtype=object)

In [48]:
stats["NTm"] = stats["Tm"].astype("category").cat.codes

In [49]:
stats["NTm"].value_counts()

7     539
8     535
27    532
17    529
14    528
11    525
0     524
12    520
1     519
31    518
9     517
15    513
26    513
13    512
18    512
5     510
29    506
30    506
10    505
34    505
24    503
28    502
19    500
33    460
36    431
16    371
20    343
32    263
25    256
2     202
23    179
4     177
3     157
6     147
21    143
37    114
35     88
22     32
Name: NTm, dtype: int64

In [50]:
stats["NTm"]

0        15
1        15
2        15
3        15
4        15
         ..
15231    18
15232    18
15233    18
15234    18
15235    18
Name: NTm, Length: 15236, dtype: int8

In [51]:
from sklearn.ensemble import RandomForestRegressor

rf = RandomForestRegressor(n_estimators=50, random_state=1, min_samples_split=5)

mean_ap, aps, all_predictions = backtest(stats, rf, years[28:], predictors)

In [52]:
mean_ap

0.7479028168624604